* {
    margin: 0%;
    padding: 0%;

}

.bdy{
    font-family: 'Roboto', sans-serif;
    background-image: url(../HTML/pineapple1.jpg);
    background-size: cover;
    padding: 5% 10%;
    position: relative;
}


.menu{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;

}

header ul li {
    padding: 0 14px;
    text-shadow: brown;
}
li:hover{
    background-color: rgb(150, 147, 146);
}

header ul li a{
    color: rgb(20, 20, 20);
    font-weight: bolder;
    transform-box:unset;
}

section{
    float: right;
    padding: 200px 35px 100px 30px;
}

section h4 {
    font-size: 16px;
    color: rgb(177, 174, 174);
    padding: 3px;
}

section h1 {
    font-size: 40px;
    color: rgb(201, 194, 194);
    font-weight: 700;
    padding: 3px;
}

section h1 span{
    font-size: 40px;
    color:black;
    font-weight:lighter;
}

section button
 {
    font-size: 16px;
    color: rgb(253, 78, 14);
    background: black;
    font-weight: lighter;
    padding: 4px;
}
